Repository maester365/maester, pull requests merged in 2025-09, with the labels that each got.

#1170 Add support for new LongRunning and Preview tags to replace Full and All
  powershell/public/Invoke-Maester.ps1
  tests/Maester/Entra/Test-AppRegistrations.Tests.ps1
  tests/Maester/Entra/Test-ConditionalAccessWhatIf.Tests.ps1
  tests/Maester/Entra/Test-MtAppRegistrationOwnersWithoutMFA.Tests.ps1
  tests/Maester/Entra/Test-MtHighRiskAppPermissions.Tests.ps1
  tests/Maester/Entra/Test-MtOnPremisesSynchronization.Tests.ps1
Labels: enhancement, maester-test, maester-core

#1105 ✨ Add Get-MtTagInventory to discover inventory of Maester tests and tags.
  build/eidsca/Update-EidscaTests.ps1
  powershell/Maester.psd1
  powershell/public/Get-MtTestInventory.ps1
  powershell/tests/functions/Test-MtCaMfaForGuest.Tests.ps1
  tests/EIDSCA/Test-EIDSCA.Generated.Tests.ps1
  tests/Maester/Defender/Test-MtMdiHealthIssues.Tests.ps1
  tests/Maester/Entra/Test-EntraRecommendations.Tests.ps1
  tests/Maester/Entra/Test-PrivilegedAssignments.Tests.ps1
  tests/Maester/Teams/Test-TeamsMeeting.Tests.ps1
Labels: enhancement

#1195 💫feat: add Save-MaesterOffline function for offline module installation
  tools/Save-MaesterOffline.ps1
Labels: enhancement

#1172 Add MT1084 - Seamless Single SignOn should be disabled for all domains in EntraID Connect servers.
  powershell/Maester.psd1
  powershell/public/maester/entra/Test-MtDomainsWithSsso.md
  powershell/public/maester/entra/Test-MtDomainsWithSsso.ps1
  tests/Maester/Entra/Test-MtEntraIDConnect.Tests.ps1
  tests/maester-config.json
  website/docs/tests/maester/MT.1084.md
Labels: maester-test

#1218 Shorten, standardize Exposure Management test describe value
  tests/XSPM/Test-XspmPrivilegedIdentities.Tests.ps1
Labels: maester-test

#1210 Refactor Get-MtAdminPortalUrl and remove retired sovereign cloud URLs
  powershell/public/core/Get-MtAdminPortalUrl.ps1
Labels: maester-core
